@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
.body{
  background-color: rgba(42, 44, 47, 1);
  color:#fff;
}
.page{
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
}

/* хедер */
.header{
  margin: 0 auto;
  max-width: 92.5%;
  position: relative;
}
.logo{
  background-image: url(./images/header-logo.svg);
  background-repeat: no-repeat;
  width: 176px;
  height: 72px;
}
.logo_header{
  position: absolute;
  top: 28px;
  left: 0;
}
.header__lang-links{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding-top: 46px;
  padding-bottom: 56px;
}
.header__lang-link{
  color:#fff;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  margin: 0;
  opacity: 1;
  transition: opacity .3s linear;
  text-decoration: none;
}

.header__lang-link_active{
  border-bottom: 1px solid white;
  margin-right: 18px;
}

.header__lang-link:hover{
  opacity: 0.5;
}

/* леад */
.lead{
  margin: 0 auto;
  max-width: 984px;
}
.lead__title{

  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
}
.lead__subtitle{

  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  margin: 0 auto;
  max-width: 640px;
  text-align: center;
  margin-bottom: 64px;
}
.lead__image{
  width: 100%;
  height: 615px;
}
.lead__caption{

  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 92px;
}

/* интро */
.intro{
  margin: 0 auto;
  max-width: 690px;
  margin-left:148px;
  margin-right: 442px;
}
.intro__title{
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  margin-bottom: 40px;
}
.intro__text{
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin: 0;
  margin-bottom: 33px;
}
.intro__list{
  list-style-type: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 92px;
}
.intro__numbers{
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: 0;

}

.photo-grid{
  margin: 0 auto;
  max-width: 1184px;
}
.photo-grid__items{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  gap: 16px;
  margin-bottom: 92px;
}
.photo-grid__item{
  width: 100%;
}


/* places */
.places{
  max-width: 984px;
  margin: 0 auto;
}
.place{
  max-width: 100%;
  max-height: 660px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
  "title website"
  "image text"
  /* "image paragraph_2" */
  ;
  margin-bottom: 80px;
  align-items: center;
  gap: 48px 40px;
}
.place__title{
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  grid-area: title;
}
.place__image{
  width: 100%;
  grid-area: image;
  align-self: start;
}
.place__website{
  grid-area: website;
  align-self: end;
}
.place__url-heading{
  color: #AAAAAA;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 12px;

}
.place__link{
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  opacity: 1;
  transition: opacity .3s linear;

}
.place__link:hover{
  opacity: .5;
}
.place__text{
  grid-area: text;
  display: flex;
  flex-direction: column;
  align-self: start;
}
.place__paragraph{
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
}
.place__paragraph:nth-of-type(1n){
  margin-bottom: 26px;
}


/* cover */
.cover{
  max-width: 1184px;
  position: relative;
}
.cover__title{
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0 auto;
  padding: 245px 312px 0;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
.cover__subtitle{
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0 auto;
  padding-top: 32px;
  position: relative;
  z-index: 2;
  max-width: 360px;
}
.cover__background{
  width: 100%;
  height: 740px;
  background-image: url(./images/cover-trains.jpg);
  background-size: cover;
  position: relative;
  z-index: 0;
}
.cover__overlay{
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
height: 100%;
transition: opacity .3s linear;

}
.cover:hover .cover__overlay{
  opacity: 0.8;
}


/* footer */
.footer{
  margin: 0 auto;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
  margin-bottom: 24px;
}

.footer__links{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.footer__link{
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  margin-right: 18px;
  opacity: 1;
  transition: opacity .3s linear;
}
.footer__link:hover{
  opacity: .5;
}
.footer__copyright{
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

@media screen and (max-width: 1024px){
  .page{
    max-width: 1024px;
  }
  .header{
    max-width: 90.6%;
    margin-left: 48px;
  }
  .lead{
    max-width: 928px;

  }
  .lead__title{
    max-width: 720px;
  }
  .lead__subtitle{
    margin-bottom: 56px;
  }
  .intro{
    margin-left: 48px;
    margin-right: 286px;
  }
  .photo-grid{
    max-width: 928px;
  }
  .photo-grid__items{
    gap: 14px;
    grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .places{
    max-width: 928px;
  }
  .place{
    column-gap: 32px;
  }
  .place__paragraph:nth-of-type(1n){
    margin-bottom: 27px;
  }
  .cover{
    max-width: 100%;
  }
  .cover__title{
    padding: 195px 232px 0;
  }
  .cover__background{
    height: 640px;
  }
  .footer{
    max-width: 928px;
  }
}
@media screen and (max-width: 768px){
  .page{
    max-width: 768px;
  }
  .header{
    max-width: 93.75%;
    margin: 0 auto;
  }
  .lead{
    max-width: 720px;

  }
  .lead__title{
    max-width: 720px;

  }

  .lead__image{
    max-height: 480px ;
  }
  .lead__caption{
    margin-bottom: 88px;
  }
  .intro{
    max-width: 720px;
    margin: 0 auto;
  }
  .intro__list{
    margin-bottom: 88px;
  }
  .photo-grid{
    max-width: 720px;
  }
  .photo-grid__items{
    gap: 16px;
    grid-template-rows: repeat(auto-fit, minmax(264px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
  }
  .places{
    max-width: 720px;
  }
  .place{
    column-gap: 28px;
    margin-bottom: 73px;
  }
  .place__title{
    font-size: 42px;
    line-height: 46px;
    max-width: 340px;
  }
  .place__paragraph{
    font-size: 16px;
  }
  .place__paragraph:nth-of-type(1n){
    margin-bottom: 27px;
  }
  .cover{
    max-width: 100%;
  }
  .cover__title{
    padding: 115px 104px 0;
  }
  .cover__background{
    height: 480px;
  }
  .footer{
    max-width: 720px;
    margin-top: 88px;
  }
}
@media screen and (max-width: 320px){
  .page{
    max-width: 320px;
  }
  .header{
    max-width: 100%;
    margin: 0 16px;
  }
  .logo{
    width: 142px;
    height: 42px;
    background-size: contain;
  }
  .logo_header{
    position: absolute;
    top: 16px;
    left: 0;
  }
  .header__lang-links{
    padding-top: 30px;
  }
  .lead{
    max-width: 100%;
  }
  .lead__title{
    max-width: 100%;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
  .lead__subtitle{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  .lead__image{
    max-height: 200px ;
  }
  .lead__caption{
    margin-left: 16px;
    margin-bottom: 64px;
  }
  .intro{
    max-width: 288px;
    margin: 0 auto;
  }
  .intro__title{
    font-size: 32px;
    line-height: 35px;
  }
  .intro__text{
    margin-bottom: 34px;
  }
  .intro__list{
    margin-bottom: 64px;
  }
  .photo-grid{
    max-width: 288px;
  }
  .photo-grid__items{
    gap: 12px;
    grid-template-rows: repeat(auto-fit, minmax(216px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  }
  .places{
    max-width: 100%;
  }
  .place{
    margin-bottom: 73px;
    display: flex;
    flex-direction: column;
    max-height: 1042px;
  }
  .place__title{
    font-size: 32px;
    line-height: 35px;
  }
  .place__website{
    margin-left: 16px;
  }
  .place__paragraph{
    margin:0 16px;
    font-size: 16px;
  }
  .place__paragraph:nth-of-type(1n){
    margin-bottom: 27px;
  }
  .cover{
    max-width: 100%;
  }
  .cover__title{
    padding: 33px 16px 0;
    font-size: 32px;
    line-height: 35px;
  }
  .cover__subtitle{
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;
  }
  .cover__background{
    height: 200px;
  }
  .footer{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 64px;
  }
  .footer__links{
    flex-direction: column;
    justify-content: space-between;

  }
  .footer__link{
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 32px;
  }
  .footer__copyright{
    line-height: 14px;
    margin-top: 48px;
  }
}

