@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
.body{
  background-color: rgba(42, 44, 47, 1);
  color:#fff;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}
.page{
  margin: 0 auto;
}

/* хедер */
.header{
  margin: 0 auto;
  max-width: 1184px;
  position: relative;
}
.logo{
  background-image: url(./images/header-logo.svg);
  background-repeat: no-repeat;
  width: 176px;
  height: 72px;
}
.logo_header{
  position: absolute;
  top: 28px;
  left: 0;
}
.header__lang-links{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding-top: 46px;
  padding-bottom: 56px;
}
.header__lang-link{
  color:#fff;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  margin: 0;
  opacity: 1;
  transition: opacity .3s linear;
}
.header__lang-link:nth-of-type(1n){
  margin-right: 18px;
}
.header__lang-link:hover{
  opacity: 0.5;
}

/* леад */
.lead{
  margin: 0 auto;
  max-width: 984px;
}
.lead__title{

  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
}
.lead__subtitle{

  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  margin: 0 172px 64px;
  text-align: center;
}
.lead__image{
  width: 984px;
  height: 615px;
}
.lead__caption{

  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 92px;
}

/* интро */
.intro{
  margin: 0 auto;
  max-width: 984px;
}
.intro__title{
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  margin-bottom: 40px;
}
.intro__text{
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin: 0;
  margin-bottom: 33px;
}
.intro__list{
  list-style-type: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 92px;
}
.intro__numbers{
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: 0;

}

.photo-grid{
  margin: 0 auto;
  max-width: 1184px;
}
.photo-grid__items{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  gap: 16px;
  margin-bottom: 92px;
}
.photo-grid__item{
  width: 100%;
}


/* places */
.places{
  max-width: 984px;
  margin: 0 auto;
}
.place{
  max-width: 100%;
  max-height: 660px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "title website"
  "image paragraph_1"
  "image paragraph_2"
  ;
  margin-bottom: 80px;
  align-items: center;
  gap: 48px 40px;
}
.place__title{
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  grid-area: title;
}
.place__image{
  width: 100%;
  grid-area: image;
}
.place__website{
  grid-area: website;
}
.place__url-heading{
  color: #AAAAAA;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 12px;
}
.place__link{
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  opacity: 1;
  transition: opacity .3s linear;

}
.place__link:hover{
  opacity: .5;
}
.place__paragraph{
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  grid-area: paragraph_1;
  align-self: start;
}
.place__paragraph:nth-of-type(2n){
  grid-area: paragraph_2;
}


/* cover */
.cover{
  max-width: 1184px;
  min-height: 740px;
  position: relative;
}
.cover__title{
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0 auto;
  padding: 245px 312px 0;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
.cover__subtitle{
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0 auto;
  padding-top: 32px;
  position: relative;
  z-index: 2;
  max-width: 360px;
}
.cover__background{
  width: 100%;
  height: 720px;
  background-image: url(./images/cover-trains.jpg);
  background-size: cover;
  position: relative;
  z-index: 0;
}
.cover__overlay{
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 1184px;
height: 740px;
transition: opacity .3s linear;

}
.cover:hover .cover__overlay{
  opacity: 0.8;
}


/* footer */
.footer{
  margin: 0;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin-top: 92px;

}

.footer__links{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.footer__link{
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  margin-right: 18px;
  opacity: 1;
  transition: opacity .3s linear;
}
.footer__link:hover{
  opacity: .5;
}
.footer__copyright{
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}
