.cover__subtitle{
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0 auto;
  padding-top: 32px;
  position: relative;
  z-index: 2;
  max-width: 360px;
}
@media screen and (max-width: 490px){
  .cover__subtitle{
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;
    max-width: 288px;
  }
}
