.cover__subtitle{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0 auto;
  padding-top: 32px;
  max-width: 360px;
  padding-bottom: 245px;
}
@media screen and (max-width: 1024px){
  .cover__subtitle{
    padding-bottom: 195px;
  }
}
@media screen and (max-width: 768px){
  .cover__subtitle{
    padding-bottom: 115px;
  }
}
@media screen and (max-width: 490px){
  .cover__subtitle{
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;
    max-width: 288px;
    padding-bottom: 33px;
  }
}
