.header{
  margin: 0 auto;
  max-width: 92.5%;
  position: relative;
}
@media screen and (max-width: 1024px){
  .header{
    max-width: 90.6%;
    margin-left: 48px;
  }
}
@media screen and (max-width: 768px){
  .header{
    max-width: 93.75%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 320px){
  .header{
    max-width: 100%;
    margin: 0 16px;
  }
}
