.place__text{
  grid-area: text;
  display: flex;
  flex-direction: column;
  align-self: start;
  max-width: 994px;
}
@media screen and (max-width: 1024px){
  .place__text{
    max-width: 939px;
  }
}
@media screen and (max-width: 768px){
  .place__text{

  }
}
@media screen and (max-width: 320px){
  .place__text{

  }
}
