.place__link{
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  opacity: 1;
  transition: opacity .3s linear;
}
.place__link:hover{
  opacity: .5;
}
