.lead_page_size{
  max-width: calc(100% - 296px);
}
@media screen and (max-width: 1024px){
  .lead_page_size{
    max-width: calc(100% - 96px);
  }
}
@media screen and (max-width: 768px){
  .lead_page_size{
    max-width: 100%;
  }
}
