.place__url-heading{
  color: #AAAAAA;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 12px;
  text-transform: uppercase;
}
@media screen and (max-width: 700px){
  .place__url-heading{
    align-self: center;
  }
}
@media screen and (max-width: 400px){
  .place__url-heading{
    align-self: flex-start;
  }
}
